{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Lista de Reportes</h2>

<table class="table table-bordered shadow-sm bg-white">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>

     <tbody>
        {% for r in reportes %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.titulo }}</td>
            <td>{{ r.direccion }}</td>
            <td>{{ r.prioridad }}</td>
            <td>{{ r.estado }}</td>

            <td>
                 {% if r.imagen %}
                       <img src="{{ url_for('static', filename='img/uploads/'+r.imagen)}}" width="80">
                    {% else %}
                        Sin imagen
                    {% endif %}
            </td>

            <td>
                <!--Ver-->
                <a href="/ver-reporte/{{r.id}}" class="btn btn-info btn-sm">
                  Ver  
                </a>

                <!--Editar-->
                <a href="/editar-reporte/{{r.id}}" class="btn btn-warning btn-sm">
                  Editar  
                </a>

                <!--Eliminar-->
                <form action="/eliminar-reporte-usuario/{{r.id}}" method="POST" style="display:inline;">
                    <button class="btn btn-danger btn-sm" onclick="return confirm('¿Eliminar reporte?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
            {% endfor %}
    </tbody>

</table>
{% endblock %}